{{!< default}}

<section class="ir-error ir-container">
    <p class="ir-error-code">{{statusCode}}</p>
    <h1 class="ir-error-title">{{message}}</h1>
    <a href="{{@site.url}}" class="ir-btn ir-btn--outline">Back to home</a>
</section>
